<a href="https://colab.research.google.com/github/JonathanPuertaG/Challenge2-TelecomX/blob/main/Challenge_Telecom_X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Contexto

Telecom X est치 enfrentando una alta tasa de cancelaciones de clientes. Este an치lisis tiene como objetivo identificar los factores que influyen en la evasi칩n (churn) para apoyar decisiones estrat칠gicas y el desarrollo de modelos predictivos.

### Objetivos espec칤ficos

- Comprender el comportamiento de los clientes que cancelan el servicio.
- Detectar patrones y caracter칤sticas asociadas al churn.
- Visualizar tendencias clave y generar insights para la retenci칩n.

##游늷 Extracci칩n

In [2]:
import requests
import pandas as pd

url = "https://raw.githubusercontent.com/sthemonica/alura-voz/refs/heads/main/Dados/Telco-Customer-Churn.json"

response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

> El dataset contiene algunas columnas con estructura anidada (diccionarios) que deben ser transformadas antes del an치lisis.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

##游댢 Transformaci칩n

Las columnas `customer`, `phone`, `internet` y `account` contienen diccionarios. Para convertirlas en columnas individuales, us칠 `pandas.json_normalize()`:

In [4]:
# Normalizar columnas anidadas
df_plano  = pd.json_normalize(df['customer'])
phone_data = pd.json_normalize(df['phone'])
internet_data = pd.json_normalize(df['internet'])
account_data = pd.json_normalize(df['account'])

# Concatenar columnas planas
df_final = pd.concat(
    [df[['customerID', 'Churn']],
     df_plano ,
     phone_data,
     internet_data,
     account_data],
    axis=1
)

df_final.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

> Ahora contamos con un DataFrame plano, donde cada columna representa una variable 칰nica, lo que facilita el an치lisis exploratorio.

In [5]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [6]:
#No se evidencian valores nulos, sin embargo es necesario validar valores vac칤os (espacios o cadenas vac칤as)
df_final['Churn'].value_counts(dropna=False)

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [7]:
## Como se identificaron valores vacios en la columna churn es necesario validarlo para las demas columnas
for col in df_final.columns:
    print(f"\n游댌 Columna: {col}")
    print(df_final[col].value_counts(dropna=False))

游댌 Columna: customerID
customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
9970-QBCDA    1
9968-FFVVH    1
             ..
0014-BMAQU    1
0013-SMEOE    1
0013-MHZWF    1
0013-EXCHZ    1
0011-IGKFF    1
Name: count, Length: 7267, dtype: int64

游댌 Columna: Churn
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

游댌 Columna: gender
gender
Male      3675
Female    3592
Name: count, dtype: int64

游댌 Columna: SeniorCitizen
SeniorCitizen
0    6085
1    1182
Name: count, dtype: int64

游댌 Columna: Partner
Partner
No     3749
Yes    3518
Name: count, dtype: int64

游댌 Columna: Dependents
Dependents
No     5086
Yes    2181
Name: count, dtype: int64

游댌 Columna: tenure
tenure
1     634
72    369
2     246
3     207
4     185
     ...
28     60
39     59
44     54
36     50
0      11
Name: count, Length: 73, dtype: int64

游댌 Columna: PhoneService
PhoneService
Yes    6560
No      707
Name: count, dtype: int64

游댌 Columna: MultipleLines
MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64

游댌 Columna: InternetService
InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64

游댌 Columna: OnlineSecurity
OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64

游댌 Columna: OnlineBackup
OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64

游댌 Columna: DeviceProtection
DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64

游댌 Columna: TechSupport
TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64

游댌 Columna: StreamingTV
StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64

游댌 Columna: StreamingMovies
StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64

游댌 Columna: Contract
Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64

游댌 Columna: PaperlessBilling
PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64

游댌 Columna: PaymentMethod
PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64

游댌 Columna: Charges.Monthly
Charges.Monthly
20.05    65
19.90    46
19.85    46
19.55    45
19.70    45
         ..
87.90     1
87.60     1
52.20     1
68.30     1
66.60     1
Name: count, Length: 1585, dtype: int64

游댌 Columna: Charges.Total
Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64

In [8]:
# 1.Corregir tipo de dato en 'Charges.Total'
df_final['Charges.Total'] = pd.to_numeric(df_final['Charges.Total'], errors='coerce')
print(df_final['Charges.Total'].dtype)

float64

In [9]:
#2. Reemplazar valores vac칤os o solo espacios por NaN
df_final.replace(r'^\s*$', pd.NA, regex=True, inplace=True)

In [10]:
# 3. Verificar y mostrar valores nulos por columna
print("Valores nulos por columna:")
print(df_final.isna().sum())

Valores nulos por columna:
customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

In [11]:
# 4. Eliminar registros con 'Churn' nulo
df_final = df_final.dropna(subset=['Churn'])

In [12]:
# 5. Eliminar registros donde 'Charges.Total' qued칩 como NaN tras la conversi칩n
df_final = df_final.dropna(subset=['Charges.Total'])

In [13]:
# 6. Conversi칩n del tipo 'Charges.Total' (ya se hizo), aseguramos el tipo
df_final['Charges.Total'] = df_final['Charges.Total'].astype(float)

In [14]:
# 7. Revision de duplicados
print(df_final.duplicated().sum())

0

In [15]:
# 8. Resetear el 칤ndice despu칠s de eliminar filas
df_final.reset_index(drop=True, inplace=True)

In [16]:
# 9. Vista general del DataFrame limpio
print("\nVista general del DataFrame limpio:")
print(df_final.info())
print(df_final.head())

Vista general del DataFrame limpio:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB
None
   customerID Churn  gender  SeniorCitizen Partner Dependents  tenure  \
0  0002-ORFBO    No  Female              0     Yes        Yes       9
1  0003-MKNFE    No    Male              0      No         No       9
2  0004-TLHLJ   Yes    Male              0      No         No       4
3  0011-IGKFF   Yes    Male              1     Yes         No      13
4  0013-EXCHZ   Yes  Female              1     Yes         No       3

  PhoneService MultipleLines InternetService  ... OnlineBackup  \
0          Yes            No             DSL  ...          Yes
1          Yes           Yes             DSL  ...           No
2          Yes            No     Fiber optic  ...           No
3          Yes            No     Fiber optic  ...          Yes
4          Yes            No     Fiber optic  ...           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No         Yes         Yes              No        One year
1               No          No          No             Yes  Month-to-month
2              Yes          No          No              No  Month-to-month
3              Yes          No         Yes             Yes  Month-to-month
4               No         Yes         Yes              No  Month-to-month

  PaperlessBilling     PaymentMethod Charges.Monthly  Charges.Total
0              Yes      Mailed check            65.6         593.30
1               No      Mailed check            59.9         542.40
2              Yes  Electronic check            73.9         280.85
3              Yes  Electronic check            98.0        1237.85
4              Yes      Mailed check            83.9         267.40

[5 rows x 21 columns]

In [17]:
# Creamos la columna "Cuentas_Diarias"
df_final['Cuentas_Diarias'] = df_final['Charges.Monthly'] / 30

# Verificamos las primeras filas
df_final[['Charges.Monthly', 'Cuentas_Diarias']].head()

   Charges.Monthly  Cuentas_Diarias
0             65.6         2.186667
1             59.9         1.996667
2             73.9         2.463333
3             98.0         3.266667
4             83.9         2.796667

In [18]:
df_final[['customerID', 'Charges.Monthly', 'Cuentas_Diarias']].sample(5)

      customerID  Charges.Monthly  Cuentas_Diarias
306   0454-OKRCT            80.60         2.686667
5730  8079-XRJRS            89.75         2.991667
2200  3161-GETRM            90.05         3.001667
3643  5161-UBZXI           106.35         3.545000
2088  3001-UNBTL           103.95         3.465000

##游늵 Carga y an치lisis

In [19]:
df_final.describe()

,SeniorCitizen,tenure,Charges.Monthly,Charges.Total,Cuentas_Diarias
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.162400,32.421786,64.798208,2283.300441,2.159940
std,0.368844,24.545260,30.085974,2266.771362,1.002866
min,0.000000,1.000000,18.250000,18.800000,0.608333
25%,0.000000,9.000000,35.587500,401.450000,1.186250
50%,0.000000,29.000000,70.350000,1397.475000,2.345000
75%,0.000000,55.000000,89.862500,3794.737500,2.995417
max,1.000000,72.000000,118.750000,8684.800000,3.958333

In [25]:
df_final['Churn'].value_counts(normalize=True) * 100

Churn
No     73.421502
Yes    26.578498
Name: proportion, dtype: float64

In [26]:
df_final['Contract'].value_counts(normalize=True) * 100

Contract
Month-to-month    55.105233
Two year          23.961889
One year          20.932878
Name: proportion, dtype: float64

In [27]:
df_final['InternetService'].value_counts(normalize=True) * 100

InternetService
Fiber optic    44.027304
DSL            34.357224
No             21.615472
Name: proportion, dtype: float64

In [28]:
df_final['gender'].value_counts(normalize=True) * 100

gender
Male      50.469283
Female    49.530717
Name: proportion, dtype: float64

##游늯Informe final